<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Comments</title>
</head>
<body>
    <h1>Add The Game and Your Rating Here</h1>
    <form action="/rating" method="Post">
        <label for="Game_Name">Enter Game Name:</label>
        <input type ="text" id="Game_Name"name="name" placeholder="Game Name">
        <br>
        <br>
        <label for="Game_Rating">Enter Rating:</label>
        <input type ="text" id="Game_Rating"name="rating" placeholder="Rating">
        <section>
            <br>
            <button>Submit</button>
        </section>
    </form>
</body>
</html>